<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test Capacitator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Capacitor Info</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Platform name:</ion-label>
            <ion-text>{{ platformName }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Native Platform?:</ion-label>
            <ion-text>{{ isNativePlatform }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Camera Available?:</ion-label>
            <ion-text>{{ isCameraAvailable }}</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Device Info</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Name:</ion-label>
            <ion-text>{{ deviceName }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Operating System:</ion-label>
            <ion-text>{{ os }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Os Version:</ion-label>
            <ion-text>{{ osVersion }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Manufacturer:</ion-label>
            <ion-text>{{ manufacturer }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Is Virtual:</ion-label>
            <ion-text>{{ isVirtual }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>UUID:</ion-label>
            <ion-text>{{ uuid }}</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title> Battery Info</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Battery level:</ion-label>
            <ion-text>{{ batteryLevel }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Is charging:</ion-label>
            <ion-text>{{ isCharging }}</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Network Info</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Is Connected:</ion-label>
            <ion-text>{{ isConnected }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Connection Type:</ion-label>
            <ion-text>{{ connectionType }}</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title> Location Info</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Accel X:</ion-label>
            <ion-text>{{ accx }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Accel Y:</ion-label>
            <ion-text>{{ accy }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Accel Z:</ion-label>
            <ion-text>{{ accz }}</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>

    <ion-button expand="full" fill="clear">Request Permission</ion-button>

  </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Events Logs</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-list *ngIf="eventLogs.length > 0">
          <ion-item *ngFor="let log of eventLogs">
            {{ log }}
          </ion-item>
        </ion-list>

        <div *ngIf="eventLogs.length === 0">
          No hay eventos registrados.
        </div>

      </ion-card-content>
    </ion-card>

  </ion-content>
</ion-content>
